<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand bg-dark" >Copyline</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home  </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/sobre']" routerLinkActive="router-link-active" >Sobre</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/cadastrocli']" routerLinkActive="router-link-active" >Cadastro Cliente</a>
              </li>
          </ul>
        </div>
      </nav>